<%- include ("./templates/headerHome") %>
<link rel="stylesheet" href="./../public/css/myCoursesStyle.css">
<div class="limiterCourses">
    <div class="containerCourses" data-editing="false">
        <h2 class="coursesOwner">Current courses of: <%= user[0].name %></h2>
        <ul class="coursesList">
            <% items.forEach(function(item) { %>
                <li class="course">
                    <img src="data:image/<%=item.img.contentType%>;base64,
					<%=item.img.data.toString('base64')%>" alt="" class="courseImg">
                    <p class="courseName"><%= item.name %></p>
                    <p class='id'><%= item._id %> </p>
                </li>
            <% }) %>
        </ul>
    </div>

    <div class="courseCard">
        
        <form action="" method="POST" class="courseForm">
            <span class="icon-cancel">
                <i class="far fa-times-circle fa-2x"></i>
            </span>
            <p class='id'> id </p>
            <p class="courseNameEdit">Course Name to Edit</p>
            <% if(user[0].role === true) { %>
                <div class="field">
                    <input type="text" placeholder="Course Name" name="name" class="editCourseField" required> 
                <span id="icon-name" class="icon-form">
                    <i class="fas fa-signature"></i>
                </span>
                </div>
                <div class="field">
                    <input type="text" placeholder="Course description" name="description" class="editCourseField" required> 
                    <span id="icon-name" class="icon-form">
                        <i class="fas fa-puzzle-piece"></i>
                    </span>
                </div>
               
                <button type="submit" class="btn-submit">
                    Submit
                </button>
            <% } %>
        </form>
        <button type="submit" class="btn-delete">
            <a class="linkDelete">Delete</a>
         </button>
    </div>
</div>

<script type="text/javascript" src="./../public/js/myCourses.js"></script>
